<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
<div class= "image-fluid" style="background-image:url('https://static.mycity.travel/manage/uploads/8/59/67650/1/vols-en-montgolfiere_1080.jpg'); height: 100%;background-size: cover; background-position: center; opacity: 0.7; color: white">
    <nav class="navbar navbar-expand navbar-light">
        <div class="container">
            <a class="navbar-brand text-white" href="#">Home</a>
              <ul class="navbar-nav ml-left">
                <li class="nav-item">
                  <a class="nav-link dropdown-toggle text-white" href="#">Flights</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link dropdown-toggle text-white" href="#">Planes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link dropdown-toggle text-white" href="#">Action</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white" href="#">Contact</a>
                </li>
              </ul>
        </div>
    </nav>
    <div class="container-fluid mt-5">
        <div class="row mt-5">
          <div class=" d-flex justify-content-center">
            <p>Best Airline Company</p>
          </div>
        </div>
        <div class=" d-flex justify-content-center">
            <hr style="width: 5%">
        </div>
        <div class="row">
          <div class=" d-flex justify-content-center font-monospace">
            <h1>Hot Air Balloon Rides</h1>
          </div>
        </div>
        <div class="row">
          <div class=" d-flex justify-content-center font-monospace text-bold">
            <button type="button" class="btn btn-dark btn-lg rounded-pill" style="background-color: black;">GET YOUR TICKET</button>
          </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col d-flex flex-column align-items-center justify-content-center">
            <h3 class="font-monospace">Safety First</h3>
            <p class="text-center">Flights are possible at any time of the year, but only under safe weather conditions. No flights to best Bootstrap templates allowed when it's raining heavily. We carefully check the wind speed. If there is something wrong with the weather, we'll refund you the full cost of tickets. We can set another flight time if you're interested.</p>
            <button type="button" class="btn btn-dark btn-lg rounded-pill">READ MORE</button>
        </div>
        <div class="col">
            <img class="img-fluid" src="https://mobirise.com/bootstrap-template/best-bootstrap-templates/assets/images/ravali-yan-96009-unsplash-1110x740.jpg" alt=" ">
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col">
            <img class="img-fluid" src="https://mobirise.com/bootstrap-template/best-bootstrap-templates/assets/images/ian-dooley-407846-unsplash-1110x740.jpg" alt=" ">
        </div>
        <div class="col text-center d-flex flex-column align-items-center justify-content-center">
            <h3 class="font-monospace">More Fun</h3>
            <p>Flights are possible at any time of the year, but only under safe weather conditions. No flights to best Bootstrap templates allowed when it's raining heavily. We carefully check the wind speed. If there is something wrong with the weather, we'll refund you the full cost of tickets. We can set another flight time if you're interested.</p>
            <button type="button" class="btn btn-dark btn-lg rounded-pill">LEARN MORE</button>
        </div>
    </div>
    <div class="row text-center mb-5">
            <h2>Tickets</h2>
    </div>
    <div class="row mb-5">
        <div class="col-4 p-1 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-header text-center" style="background-color: lightblue">
                    <p class="card-text" >Single</p>
                    <h5>$ 40</h5>
                </div>
                <div class="card-body text-center p-4" style="background-color: lightgrey">
                    <p class="card-text">One place in a basket</p>
                    <hr/>
                    <p class="card-text">Equipment rental</p>
                    <hr>
                    <p class="card-text">Training and instructions</p>

                    <a href="#" class="btn btn-small rounded-pill mt-4" style="background-color: cadetblue; color: white ">BUY TICKET</a>
                </div>
            </div>
        </div>
        <div class="col-4 p-1 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-header text-center" style="background-color: lightblue">
                    <p class="card-text" >For children (6-14 years old)</p>
                    <h5>$ 20</h5>
                </div>
                <div class="card-body text-center p-4" style="background-color: lightgrey">
                    <p class="card-text">One place in a basket</p>
                    <hr/>
                    <p class="card-text">Equipment rental</p>
                    <hr>
                    <p class="card-text">Training and instructions</p>

                    <a href="#" class="btn btn-small rounded-pill mt-4" style="background-color: cadetblue; color: white ">BUY TICKET</a>
                </div>
            </div>
        </div>
        <div class="col-4 p-1 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-header text-center" style="background-color: lightblue">
                    <p class="card-text" >Group (4 persons)</p>
                    <h5>$ 150</h5>
                </div>
                <div class="card-body text-center p-4" style="background-color: lightgrey">
                    <p class="card-text">One place in a basket</p>
                    <hr/>
                    <p class="card-text">Equipment rental</p>
                    <hr>
                    <p class="card-text">Training and instructions</p>

                    <a href="#" class="btn btn-small rounded-pill mt-4" style="background-color: cadetblue; color: white ">BUY TICKET</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer style="background-color: cadetblue">
    <div class="container">
        <p class="text-center m-0 p-3 text-white">@ Copyright 2022 FINKI DNIC - All Rights Reserved</p>
    </div>
</footer>

</body>
</html>
